<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>

</head>
<body>
<h3>用户信息</h3>
<img th:src="@{${userInfo.headimgurl}}">
<table>
    <tr><td>昵称：</td><td th:text="${userInfo.nickname}"></td></tr>
    <tr><td>性别：</td><td th:text="${userInfo.sex}"></td></tr>
    <tr><td>国家：</td><td th:text="${userInfo.country}"></td></tr>
    <tr><td>省份：</td><td th:text="${userInfo.province}"></td></tr>
    <tr><td>城市：</td><td th:text="${userInfo.city}"></td></tr>
    <tr><td>openid：</td>
    <td th:text="${userInfo.openid}"></td></tr>
    <tr><td>unionid：</td><td th:text="${userInfo.unionid}"></td></tr>
</table>
</body>
</html>